{% extends "page.html" %}
{% load i18n %}

{% block head %}
<script src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    // This function is called by 'Remove' buttons
    function remove_file(id) {
        if (!confirm('Do you want to remove document #' + id + '?')) {
            return;
        }
        message = { id: JSON.stringify(id) };
        $.ajax({
            url: '{{ request.get_full_path }}',
            type: 'POST',
            dataType: 'text',
            data: message,
            success: delete_row,
            error: function () {
                alert("Something wrong.");
            }
        });
    }

    function delete_row(data) {
        data = JSON.parse(data);
        rowid = '#row_' + data.id;
        $(rowid).fadeOut('fast', function () {
            $(rowid).remove();
        });
    }

    // CSRF Management
    var csrftoken = '{{ csrf_token }}';
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
{% endblock %}

{% block body %}
<h1>Bakufu</h1>

<h3>{% trans 'Uploaded Documents' %}</h3>
<div>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>{% trans 'ID' %}</th>
            <th>{% trans 'File' %}</th>
            <th>{% trans 'Type' %}</th>
            <th>{% trans 'Rows' %}</th>
            <th>{% trans 'Columns' %}</th>
            <th>{% trans 'Actions' %}</th>
        </tr>
        </thead>
        <tbody>
        {% if documents %}
        {% for document in documents %}
        <tr id="row_{{ document.pk }}">
            <td>{{ document.pk }}</td>
            <td><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></td>
            <td>{{ document.filetype }}</td>
            <td>{{ document.rows }}</td>
            <td>{{ document.cols }}</td>
            <td>
                <button class="btn btn-mini btn-danger" type="button" onclick="remove_file('{{ document.pk }}')">
                    Remove
                </button>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

<h3>Upload your csv</h3>

<form action="{% url 'pages.views.upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>

    <p>{{ form.docfile.label_tag }}</p>

    <p>
        {{ form.docfile.errors }}
        {{ form.docfile }}
    </p>

    <p><input class="btn" type="submit" value="Upload"/></p>
</form>
{% endblock %}
