{% extends "base.html" %}
    {% block body %}
    <div class="container">

        <h1>Bakufu</h1>

        <h3>Uploaded Documents</h3>
        {% if documents %}
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>File</th>
                        <th>Rows</th>
                        <th>Columns</th>
                    </tr>
                <tbody>
                {% for document in documents %}
                    <tr>
                        <th><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></th>
                        <th>{{ document.rows }}</th>
                        <th>{{ document.cols }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
                <p>No documents.</p>
        {% endif %}

        <h3>Upload your csv</h3>

        <form action="{% url "pages.views.upload" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input class="btn" type="submit" value="Upload" /></p>
        </form>
    </div>

    {% endblock %}
